@{
    ViewBag.Title = "うめ校とは";
}

@section css{
  
}
@section script{



   
  @*  <script type="text/javascript">
       $(document).ready(function () {
        img = new Array();
        // 画像のアドレス(数字はジャンプ先のアドレスと対応)
        img[0]="@Url.Content("~/img/photo/photo_story.jpg")";
        img[1]="@Url.Content("~/img/photo/photo_story2.jpg")";
       
        n=Math.floor(Math.random()*img.length);
        $("#imgStory").attr({src:img[n]});
        });


 </script>*@

}



<img id="imgAbout" style="margin-top:40px;border:1px solid silver;" src="@Url.Content("~/img/photo/photo1.jpg")" alt="仮" />

<div style="margin-left:5px;margin-top:40px;"><img src="@Url.Content("~/img/str/title_about.gif")" alt="仮" /></div>
<div style="margin-left:5px;margin-top:20px;font-size:11px;width:500px;line-height:2.5;color:#87b92a;letter-spacing: 0.2em;
">
まちの価値観に共感し、地域と協働するライフスタイルをめざす若者のコミュニティです。<br />
201O年9月から活動を始めて以来、青梅市やまちづくりに関心のある若者が集っています。　<br />　
具体的な活動内容は、下記のとおりです。<br /><br />

～鳩山内閣が提唱していた、“新しい公共”に刺激を受けて~<br />
<span style="font-weight:bold;text-decoration:underline;">2010年</span><br />
・9月　民立おうめ楽校の母体“青梅の今を考える会”発足<br />
・10月　第１回イベント「青梅の今を考える会」開催<br />
・12月　第２回イベント開催、“民立おうめ楽校”誕生<br /><br />

～以降、2か月に1回のペースで、様々なジャンルのイベントを実施～<br />
<span style="font-weight:bold;text-decoration:underline;">2011年</span><br />
・1月　「御嶽渓谷ハイキングを楽しもう」<br />
・4月　「青梅・奥多摩の自然ビジネスに触れよう、学ぼう、交流しよう」<br />
・6月　「木登りと昆虫さがしツアー」※雨天中止<br />
・9月　「ネイチャーツアーと苔玉づくり」「SNSを活用した広報を学ぼう」<br /><br />

～さまざまなアクターから支援を受けながら、協働事業も実施していく～<br />
<span style="font-weight:bold;text-decoration:underline;">2011年</span><br />
・7月　青梅市・市民活動推進課主催・地域で頑張る青少年支援事業 
『おうめ若者カフェ　～まちおこし大作戦～』の委員に参加<br />
・11月　社会教育課との協働事業「青梅の森ウォーク&ワーク」開催<br /><br />

<span style="font-weight:bold;text-decoration:underline;">2012年</span><br />
・1月　NPO子ども劇場西多摩青年ブロックとの共催イベント 
「人と一緒にいるってめんどくさい？」開催<br />
・2月  NPO東京にしがわ大学　シンポジウムにパネラーとして参加<br />
・2月　青梅市・市民活動推進課主催・地域で頑張る青少年支援事業<br />
　　　まちづくりフォーラム「若者だって街づくり」にパネラーとして参加<br /><br />

～イベントの開催と並行しながら、うめ校の団体自体の支援を受け始める～<br />
2012年<br />
・3月　NPOサポートセンター「とことんNPOサポートプロジェクト」を受ける<br />
・6月　中央ろうきん助成プログラムより助成を受ける<br />
・8月　新事業“おうめエコクラブ”が、青梅市市民提案協働事業を受託<br /><br /><br />



～そして、現在～<br />
2012年９月に、３年目を迎えたうめ校は、新しいスタッフとともに新しい事業を始めています。<br />
おうめエコクラブ事業やおうめタウンチップ事業もスタートしたばかりです。<br />
このＨＰの開設も新しい事業の１つです。<br />
掲載していくコンテンツを、ゆくゆくはフリーペーパー化していく考えもあります。<br /><br />

・・・いったいなぜうめ校は、こんなに落ち着きのない団体なのでしょう？？笑<br />

それは、ひとつの成果を出すことを目指した団体でなく、学びあいを大切にする“学校”だからです。<br />



うめ校には開校（！？）以来、どこからともなく、青梅のまちづくりに興味のある若者が集まってきます。<br />

「社会人になって、青梅の魅力を改めて知った！もっと青梅を楽しみたい！広めたい！」<br />
「大学でまちづくりの勉強中。せっかくなら地元のまちづくりを実践してみたい！」<br />
「仕事だけじゃつまんない。身近な場所で人のためになることをしたい」<br />


そんな若者が、青梅に貢献できる仕事や生活・趣味のあり方を、リアルな青梅に触れて現実とぶつかりながらも、模索しています。<br />



まちの文化や変化を受け入れ、“共感”し、尊重しながら、本当にまちのためになることを目指して。<br />
若者だけじゃ、まちのためになれないこともしばしば。だから、たくさんの方々と“協働”をしながら。<br />
それでもやりたいことを、楽しく、生き生きと、チャレンジングに、実践を重ねるコミュニティ。<br /><br />

「共感から協働へ」<br /><br />

それが民立おうめ楽校です。


</div>
