@{
    ViewBag.Title = "うめ校ストーリー";
}

@section css{
  
}
@section script{
}



<div style="margin-left:5px;margin-top:20px;width:500px;line-height:2.5;color:Gray;letter-spacing: 0.2em;
">
<h2 style="color:#3366cc">** vision **</h2>地域と若者の<span style="color:#ff0000">ありのまま</span>が共栄し続ける社会を作る<br><h2 style="color:#3366cc"><br>** mission **</h2><ul><li>若者によるオリジナルな地域活動を増やす。
        </li><li>ソーシャルな地域貢献団体としての存在を発信し続ける。
    </li></ul>
    <h2 style="color:#3366cc"><br>** value **</h2>
<span style="color:#66cc00"><strong>自分にとって気持ちいいこと・楽しいこと・安心できることに、</strong></span><div><span style="color:#66cc00"><strong>とことん素直になる</strong></span><br>
　「社会人になって、青梅の魅力を改めて知った。もっと青梅を楽しみたい」<br>
　「大学でまちづくりの勉強中。せっかくなら地元のまちづくりを実践したい」<br>
　「仕事だけじゃつまんない。身近な場所で人のためになることをしたい」
　<div>　・･･　こうした若者の想いを大切にしながら、地域貢献の挑戦を重ねます。<br><br>
<span style="color:#66cc00"><strong>地域や好きな人にとってためになることを、一生懸命考え、</strong></span></div><div><span style="color:#66cc00"><strong>活動の枠にとらわれず実践する</strong></span><br>
青梅への貢献を、自らの生活や仕事という“現実”とぶつかりながらも、</div><div>模索します。<br>
まちの文化や考え方を受け入れ“共感”し、尊重することも必要です。<br>
若者だけじゃ、まちのためになれないこともある。自分の能力やネットワークが足らない時は、他団体との協働も試みます。<br><br>
<span style="color:#66cc00"><strong>家族・仕事・地域社会、そして自分。</strong></span></div><div><span style="color:#66cc00"><strong>関わるみなが持続的に幸せになるよう、デザインしていく</strong></span><br>
　自分の気持ちいい生き方・暮らし方を見つめます。<br>
　家族や周りに受け入れられ、生活に根ざした活動を目指します。<br>
　青梅が持続的に発展する取り組みを模索します。  </div></div>  

</div>
