@{
    ViewBag.Title = "うめ校ストーリー";
}

@section css{
  
}
@section script{



   
    <script type="text/javascript">
       $(document).ready(function () {
        img = new Array();
        // 画像のアドレス(数字はジャンプ先のアドレスと対応)
        img[0]="@Url.Content("~/img/photo/photo_story3.jpg")";
        img[1]="@Url.Content("~/img/photo/photo_story2.jpg")";
       
        n=Math.floor(Math.random()*img.length);
        $("#imgStory").attr({src:img[n]});
        });


 </script>

}


<img id="imgStory" style="margin-top:40px;border:1px solid silver;" src="" alt="仮" />

<div style="margin-left:5px;margin-top:40px;"><img src="@Url.Content("~/img/str/story_title.gif")" alt="仮" /></div>
<div style="margin-left:5px;margin-top:20px;width:500px;line-height:2.5;color:Gray;letter-spacing: 0.2em;
">
ある中学校の昼休みに起こった"イジメ"のハナシ。<br />
うめ校を始めたれいなの心の軸を支える、力強く、前向きになれるエピソード。<br /><br />


いじめが多いとある田舎の学校。<br />
いつものように、背中にドロップキックを受けた彼は<br />
その日の昼休みもひとりでポツンと泣いていました。<br />
私は彼から離れた教室の入り口で、<br />
窓際にたたずむ彼の泣いた横顔を、心苦しくみていました。<br /><br />

いつもと変わりない風景のはずだった、その瞬間。<br /><br />

彼は、手の甲で涙を「キュッ」とぬぐい、<br />
うるんだまなざしをまっすぐ、窓ガラスのほうに向けました。<br />
彼の姿勢には芯があり、神聖な出で立ちにすら見えました。<br /><br />

イジメを受けた男の子から、私は、<br />
人の心が、生命力にあふれ、しなやかで美しいことを、知りました。<br /><br />


そして今。<br />
私は、人の生きる力を支援することを目指しています。<br />
そうして誰もが活躍できる地域社会を作りたい、と願っています。<br />

たとえ、いじめをしていた子でも、いじめられていた子でも。<br />
だれもが、それぞれの生きる力でのびのびと育っていく姿に感動があると思っています。<br /><br />


さらに、<br />
私たちをはぐくむ地域社会は、<br />
人の力を引き出し、活躍できる舞台を与えてくれます。<br />
地域社会＝まちで活躍することは、私たちが生まれもって持つ生きる力を<br />
見つけるきっかけになるのです。<br /><br />


うめ校は、<br />
葛藤しながらも、自分の目指す姿を見つけようとする若者たちが、<br />
生き生きとできる仕事や生活のあり方を<br />
リアルな青梅のまちで見つけるコミュニティです。<br /><br />

本当に青梅のためになることをしながら<br />
まちでのびのびと暮らすことを描いた若者を見つけては、<br />
リアルな青梅と“つなぐ”活動をしています。<br /><br />

興味があれば、ぜひうめ校を訪ねてください。<br />
ようこそ、うめ校へ！<br /><br />

れいな

</div>
