@{
    ViewBag.Title = "わかものとは";
}


@section css{
  
}
@section script{



   
  @*  <script type="text/javascript">
       $(document).ready(function () {
        img = new Array();
        // 画像のアドレス(数字はジャンプ先のアドレスと対応)
        img[0]="@Url.Content("~/img/photo/photo_story.jpg")";
        img[1]="@Url.Content("~/img/photo/photo_story2.jpg")";
       
        n=Math.floor(Math.random()*img.length);
        $("#imgStory").attr({src:img[n]});
        });


 </script>*@

}




<div style="margin-left:5px;margin-top:40px;">
<img id="imgAbout" style="margin-top:40px;" src="@Url.Content("~/img/str/img_title_wakamonotowa.png")" alt="仮" />
</div>

<div style="margin-left:15px;margin-top:20px;">
<img id="imgAbout" style="margin-top:40px;" src="@Url.Content("~/img/str/bun_wakamonotowa.gif")" 
alt="仮" />
</div>
<div style="margin-left:5px;margin-top:20px;font-size:10px;width:500px;line-height:2.5;color:#28a7e1;letter-spacing: 0.2em;
">





</div>

