@{
    ViewBag.Title = "おうめこどもエコクラブとは？";
    Layout = "~/Views/Shared/_LayoutEcoclub.cshtml";
}
<script type="text/javascript">





<!--
    //=================================
    //初期設定
    //=================================
    $(function () {
        $(".preSchoolInputArea").hide();
        $(".lblSchool").css("background-color", "Yellow");

        //ラジオボタンの動作設定
        $("[name='rdoState']").click(function () {
            var state = $('input[name="rdoState"]:checked').val();
            if (state == "school") {
                //小学生
                $(".preSchoolInputArea").hide();
                $(".schoolInputArea").fadeIn("normal");
                $(".lblSchool").css("background-color", "Yellow");
                $(".lblPreSchool").css("background-color", "");
            }
            if (state == "preSchool") {
            　　//未就学
                $(".schoolInputArea").hide();
                $(".preSchoolInputArea").fadeIn("normal");
                $(".lblSchool").css("background-color", "");
                $(".lblPreSchool").css("background-color", "Yellow");
            }
        });
    });


    function checkForm() {
        childname = $('#child_name').val();
        state = $('input[name="rdoState"]:checked').val();
        tel = $('#tel').val();
        school_name = $('#school_name').val();
        class_year = $('#class_year').val();
        age = $('#age').val();
        email = $('#email').val();
        chk_email = $('#chk_email').val();
        //alert(childname + "---" + state + "---" + tel + "---" + school_name + "---" + class_year + "---" + age);


        if (childname == null || jQuery.trim(childname) == "") {
            alert("お子様のお名前をご入力ください");
            $('#child_name').focus();
            return false;
        }


        if (state == "school") {
            if (school_name == null || jQuery.trim(school_name) == "") {
                alert("学校名をご入力ください");
                $('#school_name').focus();
                return false;
            }
        }


        if (tel == null || jQuery.trim(tel) == "") {
            alert("電話番号をご入力ください");
            $('#tel').focus();
            return false;
        }

        if (email == null || jQuery.trim(email) == "") {
            alert("メールアドレスをご入力ください");
            $('#email').focus();
            return false;
        }

        if (email != chk_email) {
            alert("メールアドレスとメールアドレス（確認用）の内容に相違があります。");
            $('#email').focus();
            return false;
        }
        return true;

    }



    //
    function checkFormToiawase(){
        toiawase_name = $('#toiawase_name').val();
        toiawase_tel = $('#toiawase_tel').val();
        toiawase_email = $('#toiawase_email').val();
        toiawase_chk_email = $('#toiawase_chk_email').val();
        toiawase_txt = $('#toiawase_txt').val();


        if (toiawase_name == null || jQuery.trim(toiawase_name) == "") {
            alert("氏名をご入力ください");
            $('#toiawase_name').focus();
            return false;
        }

        if (toiawase_tel == null || jQuery.trim(toiawase_tel) == "") {
            alert("電話番号をご入力ください");
            $('#toiawase_tel').focus();
            return false;
        }

        if (toiawase_email == null || jQuery.trim(toiawase_email) == "") {
            alert("メールアドレスをご入力ください");
            $('#toiawase_email').focus();
            return false;
        }

        if (toiawase_email != toiawase_chk_email) {
            alert("メールアドレスとメールアドレス（確認用）の内容に相違があります。");
            $('#toiawase_email').focus();
            return false;
        }


        if (toiawase_txt == null || jQuery.trim(toiawase_txt) == "") {
            alert("問い合わせ内容をご入力ください");
            $('#toiawase_txt').focus();
            return false;
        }
        return true;

    }
// -->
</script>


 



 @*=====================================
   おうめエコクラブとは？
=====================================*@ @*タイトル--------------------------*@
    <div class="row" style="padding-bottom: 5px; line-height: 120px;">
        <div class="span1">
        </div>
        <div class="span7" style="text-align: left;">
            <img src="@Url.Content("~/img/ecoclub/aboutEcoclub.gif")" alt="エコクラブとは？" />
        </div>
        <div class="span1">
        </div>
    </div>
    @*説明--------------------------*@
    <div class="row" style="padding-bottom: 5px;">
        <div class="span1">
        </div>
        <div class="span1" style="text-align: left;">
            <img src="@Url.Content("~/img/ecoclub/omeeco_tatemoji.gif")" alt="エコクラブ" />
        </div>
        <div class="span4" style="text-align: left;">
            <p>
                おうめこどもエコクラブは、うめ校（-※１）のプロジェクトのひとつです。活動資金は、助成金をもととしており、 参加費を営利目的でいただくことはありません（※2012年8月～2013年2月は青梅市市民提案協働事業の助成を受けています）
            </p>
            <p>
                おうめこどもエコクラブでは、青梅のこどもたちの環境活動を支援する講座を開催しています。人と環境の関わりについての理解を、きちんと深めてもらえるように、楽しくて、
                夢中になれる参加型の環境学習講座を用意しています
            </p>
            <p>
                例えば、青梅の草花で手作りの地球を完成させたり、青梅産の大豆から豆腐を作ってみたり、ときには遠足へいったり…
            </p>
            <p>
                青梅ならではの自然の恵みを受けながら、環境問題に対して自ら考え行動する力や、自然や環境を大切に思う心を育んでいきます。そうして地域社会の環境保全活動の環を広げる
                ことを目指しています
            </p>
            <blockquote class="pull-left">
                <p style="font-size: 11px;color:#f8b62b;">
                    ※1 うめ校</p>
                <small>うめ校 （正式名称：民立おうめ楽校(がっこう)） まちの価値観に共感し、地域と協働するライフスタイルを めざす若者のコミュニティです。2011年9月から活動を始め、
                    青梅市やまちづくりに関心のある若者が運営している市民団体です。まちづくりワークショップや交流会など、活動は多岐にわたります。リアルな青梅の課題と、まちに寄り添いな
                    がら活動したい若者をつなげています <cite>http://umekou.net</cite> </small>
            </blockquote>
        </div>
        <div class="span1">
        </div>
    </div>
 