@model umekou.Controllers.ecoClubInfo
@{
    ViewBag.Title = "入会申し込み完了";
    Layout = "~/Views/Shared/_LayoutEcoclubNoneMenu.cshtml";
}

        <div class="row">
        <div class="span1"></div>
            <div class="span7" >

            　<h5>▼おうこどもめエコクラブへの入会申し込みを受け付けました！</h5>
            </div>

             <div class="span1"></div>

            </div>

            @* 確認内容*@
             <div class="row" style="background-color:white;height:200px;padding-top:50px;border-top:1px solid black;">
              <div class="span1"></div>
            <div id="main" class="span7" >

              

               <H4>申し込み誠にありがとうございました！</H4>


               <a href="@Url.Action("Index", "Ecoclub", null, null)";">おうめこどもエコクラブTOPページへ</a>

                
            </div>
             <div class="span1"></div>

            </div>




           


        






