@{
    ViewBag.Title = "エコクラブ規約";
    Layout = "~/Views/Shared/_LayoutEcoclubNoneMenu.cshtml";
}
<script type="text/javascript">





<!--
    //=================================
    //初期設定
    //=================================
  


  
// -->
</script>
    @*=====================================
   入会方法？
=====================================*@ @*タイトル--------------------------*@
    <div class="row" style="padding-bottom: 5px; line-height: 120px;">
        <div class="span1">
        </div>
        <div class="span7" style="text-align: left;">
            
        </div>
        <div class="span1">
        </div>
    </div>
  @*=====================================
   エコクラブ規約
=====================================*@
 @*説明--------------------------*@
    <div class="row" style="padding-bottom: 5px;">
        <div class="span1">
        </div>
        <div class="span1" style="text-align: left;">
            <img src="@Url.Content("~/img/ecoclub/omeeco_tatemoji.gif")" alt="エコクラブ" />
        </div>
        <div class="span5" style="text-align: left;">
           
            <h5 style="color: #1071b9">
                ＜エコクラブ規約＞</h5>
            <p>
                ここに
            </p>


</div>
       
    </div>

