@{
    ViewBag.Title = "おうめこどもエコクラブはどうして誕生したの？";
    Layout = "~/Views/Shared/_LayoutEcoclub.cshtml";
}

 @*=====================================
   ？
=====================================*@ 
@*タイトル--------------------------*@
    <div class="row" style="padding-bottom: 5px; line-height: 120px;">
        <div class="span1">
        </div>
        <div class="span7" style="text-align: left;">
            <img src="@Url.Content("~/img/ecoclub/tanjyou.gif")" alt="おうめこどもエコクラブはどうして誕生したの？" />
        </div>
        <div class="span1">
        </div>
    </div>
    @*説明--------------------------*@
    <div class="row" style="padding-bottom: 5px;">
        <div class="span1">
        </div>
        <div class="span1" style="text-align: left;">
            <img src="@Url.Content("~/img/ecoclub/omeeco_tatemoji.gif")" alt="エコクラブ" />
        </div>
        <div class="span4" style="text-align: left;">
            2012年、おうめこどもエコクラブは、
青梅のとある地域センターの職員さんの声からはじまりました
<br />
<br />
「講座がマンネリ化している」
<br />
<br />
長年、地域センターに勤めている職員さんの率直さ、
素朴さにほっこりしながら会話をしていたところ、
職員さんの口からこぼれた言葉
<br />
その言葉には、青梅の環境の良さに込められた希望や
期待が込められている一方、
<br />
講座を作る担当の方が抱くもどかしさも感じました
<br />
その地域センターはみどりのカーテンや太陽光発電に
取り組んでいる施設
<br />
<br />

環境政策に特化した取り組みをたくさんの市民に知ってほしい。
けれど、うまく活用しきれていない。
市民に広く知らせるための講座も、今まで通りの内容ばかり
<br />
 <br />
 <br />


その現状を知り、民立おうめ楽校のスタッフとして、

「なにかできることがあるはず」と考え始めました
<br />
 <br />



そして、私には自分自身の体験から、
強い疑念や芯のある使命感を持っています
<br />
 <br />

「学校教育で、先生以外の大人から
　何かを学ぶ機会はあるのだろうか。
まちのことや、環境は、時代でかわりゆくものである。
先生だけでなく、まちや環境を一番よく知る地域の人から、
子どもたちの未来の環境を守るための学びを教わる機会があるのか。
<br />
特に、青梅は自然が豊かであるし、誇らしい財産である。
子どもたちに、地域・環境・人からいろいろなことを学んでほしい。」

 <br />
 <br />
 <br />


私は、環境NPOにて子どもに環境教育を教える仕事をしています。
自分の仕事を活かしながら、まちに貢献したいと思っています。
<br />

青梅の自然の豊かさ、子どもの笑顔。
地域センターという場所、そして担当の方の想い。
そしてこの度、青梅市協働事業の募集というきっかけがあり、
民立おうめ楽校のひとつのプロジェクトとして、
“おうめこどもエコクラブ”を発足することができました



        </div>
        <div class="span1">
        </div>
    </div>
  